:root{
    /* Color Variables */
    --main-text-color: black;
    --soft-text-color: grey;

    --plain-bg-color: white;
    --contrast-color: #DDC0B4;
    
    /* Font Variables */
    --main-font: 'Roboto', Tahoma, sans-serif;
    --content-font: 'Hind Vadodara', 'Lucida Grande', Tahoma, sans-serif;
}

h1 a{
    font-family: var(--main-font);
    color: var(--main-text-color);
    font-size: 70%;
}

h1 a:hover{
    color: var(--main-text-color);
    text-decoration: none;
}

li a{
    font-family: var(--content-font);
    color: var(--soft-text-color);
}

li a:hover{
    color: var(--contrast-color);
    font-weight: bold;
    text-decoration: none;
}

footer p{
    font-family: var(--main-font);
    font-size: 80%;
    margin-top: 30px;
    margin-left: 25px;
    padding: 10px;
    color: var(--soft-text-color);
}
