header{
    text-align: center;
}

h1{
    padding: 15px;
}

ul{
    display: flex;
    justify-content: center;
    margin: 20px 300px;
}

li{
    margin: 0px 50px;
}

.container{
    display: block;
    justify-content: center;
}

.carousel img{
    display: block;
    margin: 0 auto 50px auto;
    height: 500px;
    width: 700px;
}

.tag-bar{
    display: flex;
    justify-content: center;
}

.tag-bar h2{
    padding: 10px;
    font-family: var(--content-font);
    color: var(--soft-text-color);
    font-size: 85%;
    font-weight: lighter;
}

.tag-bar img{
    height: 1px;
    width: 150px;
    margin: 17px;
}