.confirm-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-header img{
    width: 75px;
    margin-bottom: 20px;
}

.confirm-header h2{
    font-family: var(--main-font);
    
}

.confirm-header p{
    margin-bottom: 80px;
}

.order-details{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

.order-details h3{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
}

.product{
    border-radius: 5px;
    box-shadow: 0 1px 3px #888888;
    display: grid;
    grid-template-columns: 50% 50%;
}

p{
    font-family: var(--content-font);
}

.cith{
    grid-column: 1/1;
    padding: 10px;
    margin: 5px;
}

.price{
    grid-column: 2/2;
    padding: 10px;
    margin: 5px;
    text-align: right;
}

.taxes-totals{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto auto;
    margin: 20px 15px;
    margin-bottom: 150px;
}

.sub{
    grid-column: 1/1;
    grid-row: 1/1;
}

.gst{
    grid-column: 1/1;
    grid-row: 2/2;
}

.total{
    grid-column: 1/1;
    grid-row: 3/3;
}

.sub-val{
    grid-column: 2/2;
    grid-row: 1/1;
}

.gst-val{
    grid-column: 2/2;
    grid-row: 2/2;
}

.total-val{
    grid-column: 2/2;
    grid-row: 3/3;
}

.sub,
.sub-val,
.gst,
.gst-val,
.total,
.total-val{
    text-align: right;
}

.sub,
.sub-val,
.gst,
.gst-val{
    color: var(--soft-text-color);
}

.total,
.total-val{
    font-weight: 500;
}